#!/bin/bash
#
# fwbuilder build config
#

OS_VERSIONS="xenial bionic focal groovy"
PACKAGE="fwbuilder"
PACKAGE_VERSION="6.0.0-rc1"
PACKAGE_IDENTIFIER="${OS_VERSION}"
PPA="fwbuilder"
BUILD_DIR="build"
DEBFULLNAME="Your Name"
DEBEMAIL="you@email.com"
DEBCOMMENT="ubuntu ${PACKAGE_IDENTIFIER} build"
LAUNCHPAD_UPLOAD="no"
FWBUILDER_GIT_REPO="https://github.com/fwbuilder/fwbuilder.git"
PPA_OWNER="ppaownername"
